<html>
<head>
<link href="css/styles.css" rel="stylesheet">

</head>

<div><h1><p class="headline fontstyle center">Personal Details</h1></p>

	<div class="center font"><a href="/" class="font center">Restart</a>
	</div>
</div>
<body class="body">
<%=yield%>
</body>
<!-- <div class="body imagecenter"></div><br><br><br><br><br><br><br> -->


<footer>
<div class="footer"><p>Posted by: Chad Swatsworth</p>
<p id="center">Contact information: <a href="http://minedminds.org">Mined Minds</a></p>
</div>
</footer></html>